@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

/** background section with animated picture**/

body {
    background-image: url(/assets/images/animate\ animals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    
}

/** Game rules section**/
.game-rules {
    display: flex;
    justify-content: center;
    height: 30px;
    padding-left: 35px;
    
}

/** rules desciption section**/
.rules-description {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Orelega One', cursive;
    
}

/** title section**/
.title {
    display: flex;
    justify-content: center;
    font-family: 'Orelega One', cursive;
}

/** Emoji buttons */
.selections {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
    
}

/* hover emoji*/
.selection:hover {
    transform: scale(1.5);
}

/* You vs computer section*/
.results {
    display: grid;
    justify-content: center;
    font-size: 50px;
    border: 10px;
    box-sizing: border-box;
    font-family: 'Orelega One', cursive;
}

/**restart button **/
.restart {
    color: green;
    height: 40px;
    font-size: 20px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
}