@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

/** background section with animated picture**/

body {
    background-image: url(../images/animate\ animals\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    
}

.game-rules {
    display: flex;
    justify-content: center;
    height: 30px;
    padding-left: 35px;
    
}

.rules-description {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Orelega One', cursive;
    list-style-type: none;
    
}

.rules {
    list-style-type: none;
    line-height: 30px;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Orelega One', cursive;
}

/** Emoji buttons */
.selections {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
    
}

/* hover emoji*/
.selection:hover {
    transform: scale(1.5);
}

/* You vs computer section*/
.results {
    display: grid;
    justify-content: center;
    font-size: 50px;
    border: 10px;
    box-sizing: border-box;
    font-family: 'Orelega One', cursive;
}

.restart {
    color: green;
    height: 40px;
    font-size: 20px;
    border-color: black;
    border-radius: 10px;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .selections {
        padding-top: 10px;
        width: auto;
        justify-content: center;
        clear: left;
        font-size: 8rem;
    }

    .results {
        font-size: 30px;
    }



}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    .title {
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    .selections {
        padding-top: 10px;
        width: auto;
        justify-content: center;
        clear: left;
        font-size: 8rem;
    }
    .results {
        padding-top: 20px;
        font-size: 50px;
    }
    body {
        height: 1600px;
    }

}

/* For medium screen sizes from 480px wide and down */
@media screen and (max-width: 480px) {
    .game-rules {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    height: 30px;
    clear: left;
    }
    
    .title {
        font-size: 25px;
        float: left;
        padding-left: 70px;
    }
    .selection {
        padding-top: 10px;
        width: auto;
        justify-content: center;
        clear: left;
        font-size: 4rem;
    }
    .results{
        padding-top: 20px;
        color: red;
    }
    body{
        height: 1000px;
    }

}