@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

/** background section with animated picture**/

body {
    background-image: url(/assets/images/animate\ animals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    
}

/** Game rules section**/
.game-rules {
    display: flex;
    justify-content: center;
    height: 30px;
    padding-left: 35px;
    
}